/* element selectors org by parent*/

body {
  margin: 0;
}

/* classes in alphabetical order */
.bgc-lgrey {
  background-color: lightgrey;
}

.bgc-royalblue {
  background-color: royalblue;
}

.bgc-steel {
  background-color: steelblue;
}

.pad {
  padding: 1.5rem;
}

.w-100 {
  width: 100%;
}
