/* element selectors org by parent*/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* classes in alphabetical order */
.bgc-boringblue {
  background-color: rgb(36, 137, 188);
}

.bgc-lgrey {
  background-color: lightgrey;
}

.bgc-royalblue {
  background-color: royalblue;
}

.bgc-steel {
  background-color: steelblue;
}

.dis-flex {
  display: flex;
}

.marg-top {
  margin-top: 1.5rem;
}

.pad {
  padding: 1.5rem;
}

.w-100 {
  width: 100%;
}

/* media queries */

@media (min-width: 768px) {
  .dis-flex\@lrg {
    display: flex;
  }
}
